@import url('https://fonts.cdnfonts.com/css/belisa-plumilla-manual');
$cursor-point: pointer;
$layout-color: tan;
$bg-color: white;
@media screen and (max-width: 1065px) {
    .hide-element { display: none; }
}

.show-element { visibility: visible; }

.no-display { visibility: hidden; }

.nope-display { display: none; }

.show-display { display: contents; }

.center-content { margin: 0 auto; }

.flex-box {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.white-background { 
	font-size: 1.7rem;
	background-color: $bg-color;
	width:  50%; 
	border-radius: 8px;
	padding-top: 10px;
	margin: 0 auto;
	/*color: lightgrey;*/
	& > p { font-size: 2.0rem; }
}

.blub {
}



html {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.4rem;
	font-family: 'Belisa plumilla manual', 'sans-serif';
	width: 100%;
	height: 100%;
	background-color: $layout-color;
	background-image: url("../../ds-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden; 
}

button { 
	font-family: 'Belisa plumilla manual', 'sans-serif';
	font-size: 1.2rem;
 }

#main {
	width: 100%;
	height: 100%;
	text-align: center;
}

.crockpot-recipe-table {
	box-shadow: 1px 5px 11px 1px;
	border-radius: 10px;
  width: 58%;
	background-color: white;
	margin: 0 auto;
}

@media screen and (max-width: 1065px) {
    .crockpot {
	    display: flex;
	    flex-direction: column;
	    & > thead > tr {
		    display: none;
	    }
    }
}

@media screen and (max-width: 435px) {
    .crockpot {
	    display: flex;
	    flex-direction: column;
	    & > thead > tr {
		    display: none;
	    }
    }

    .food-result-img {
	    width: 40px;
    }
}

@media screen and (max-width: 235px) {
    .crockpot {
    	overflow-x: scroll;
	    display: flex;
	    flex-direction: column;
	    & > thead > tr {
		    display: none;
	    }
    }

    .food-result-img {
	    width: 40px;
    }
}


table { 
    box-shadow: 2px 2px 15px 2px;
	font-size: 1.2em;
	& > caption { 
		background-color: $layout-color; 
		border: 1px solid black;
	}

	table-layout: auto;
	width: 50%;
	border: 2px solid black;
	border-collapse: collapse;
	background-color: tan; 
	margin: 0 auto;
	& > thead > tr > th {
		width: 20%;
		border: 2px solid black;
	}

	& > tbody > tr {

	}

	th {

	}

	& > tbody > tr { cursor: pointer; }

    & > tbody > tr > th { border: 2px solid black; }

	& > tbody > tr > td { 
		cursor: pointer;
		border: 2px solid black;
		text-align: center;
		vertical-align: baseline;
	}
}

@media screen and (max-width: 1465px) {
	table { font-size: 1.4rem; }
}

@media screen and (max-width: 300px) {
	table { 
    box-shadow: 2px 2px 15px 2px;
	font-size: 1.4em;
	& > caption { 
		background-color: $layout-color; 
		border: 1px solid black;
	}

	table-layout: auto;
	width: 60%;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: tan; 
	margin: 0 auto;
	& > thead > tr > th {
		width: 20%;
		border: 1px solid black;
	}

	& > tbody > tr {

	}

	th {

	}

	& > tbody > tr { cursor: pointer; }

    & > tbody > tr > th { border: 1px solid black; }

	& > tbody > tr > td { 
		cursor: pointer;
		border: 1px solid black;
		text-align: center;
		vertical-align: baseline;
	}
  }
}

#crockpot-contents {
	list-style-type: none;
	width: 20px;
}

.transparent { 
	opacity: 0.5; 
	cursor: pointer;
	outline: 0;
}

#food-table {
	overflow-x: hidden;
}


.bibidy { color: pink; }

.warning {
	text-align: center;
	background-color: red;
	width: 50%;
	height: 50px;
	color: white;
	border-radius: 40px;
	margin: 0 auto;
}

#selected-food-container {
	position: absolute;
	top: -90%;
	left: -35.3%;
	width: 0%;
	height: 100%;
}	

@media screen and (max-width: 1184px) {
	#selected-food-container {
		opacity: 0.5;
	}
}	

@media screen and (max-width: 1062px) {
	#selected-food-container {
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	#selected-food-container {
		top: -60%;
		left: -35%;
	}
}

@media screen and (max-height: 480px) and (orientation: landscape) {
	  #selected-food-container {
	    position: absolute;
	    top: -72%;
	    left: -35.3%;
	    width: 0%;
	    height: 100%;
    }
}

@media screen and (max-height: 340px) and (orientation: landscape) {
	  #selected-food-container {
	    position: absolute;
	    top: -30%;
	    left: -35.3%;
	    width: 0%;
	    height: 100%;
    }
}

@media screen and (max-height: 270px) and (orientation: landscape) {
    #selected-food-container {
	      position: absolute;
	      top: -20%;
	      left: -35.3%;
	      width: 0%;
	      height: 100%;
    }
}

@media screen and (max-width: 220px) and (max-height: 350px) {
    #selected-food-container {
	      position: absolute;
	      top: -40%;
	      left: -35.3%;
	      width: 0%;
	      height: 100%;
    }
}
/*
@media screen and (max-width: 423px) {
	#selected-food-container {
	    position: absolute;
	    top: -163%;
	    left: -35.3%;
	    width: 0%;
	    height: 100%;
    }
}
*/
/*
@media screen and (max-width: 950px) and (orientation: landscape) {
  #selected-food-container {
	position: absolute;
	top: -105%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 978px) and (orientation: landscape) and (max-height: 480px) {
  #selected-food-container {
	position: absolute;
	top: -90%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 820px) and (orientation: landscape) {
  #selected-food-container {
	position: absolute;
	top: -100%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) and (max-height: 370px) {
  #selected-food-container {
	position: absolute;
	top: -70%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 860px) and (orientation: landscape) and (max-height: 367px) {
  #selected-food-container {
	position: absolute;
	top: -80%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 840px) and (orientation: landscape) and (max-height: 367px) {
  #selected-food-container {
	position: absolute;
	top: -80%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) and (max-height: 326px) {
  #selected-food-container {
	position: absolute;
	top: -70%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 750px) and (orientation: landscape) {
  #selected-food-container {
	position: absolute;
	top: -100%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 680px) and (orientation: landscape) {
  #selected-food-container {
	position: absolute;
	top: -90%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 660px) and (orientation: landscape) and (max-height: 300px) {
  #selected-food-container {
	position: absolute;
	top: -35%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 650px) and (orientation: landscape) {
  #selected-food-container {
	position: absolute;
	top: -80%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}


@media screen and (max-width: 590px) and (orientation: landscape) {
  #selected-food-container {
	position: absolute;
	top: -50%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 680px) and (orientation: landscape) and (max-height: 340px) {
  #selected-food-container {
	position: absolute;
	top: -46%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 370px) and (max-height: 700px) {
  #selected-food-container {
	position: absolute;
	top: -195%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}

@media screen and (max-width: 330px) and (max-height: 780px) {
  #selected-food-container {
	position: absolute;
	top: -195%;
	left: -35.3%;
	width: 0%;
	height: 100%;
  }
}
*/
#testy {
	position: absolute;
	top: -75%;
	left: 0%;
	width: 100%;
}

.fade-out {
	animation: fade-out 0.4s;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-in {
	animation: fade-in 0.4s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



@media screen and (max-width: 735px) {
	#testy {
		top: -170%;
	}
}

@media screen and (max-width: 435px) {
	#testy {
		top: -170%;
	}
}



.little { 
	text-align: center;
	margin: 0 auto;
}

.extra-small-space { 
	position:  relative;
	top: 2px; 
}

#runty-gup { 
	position: relative;
	top: 10px; 
}

#needle-squirt {
	position: relative;
	top: 10px;
}

#bitty-bait {
	position: relative;
	top: 10%;
}

#smolt {
	position: relative;
	top: 0px;
	padding-top: 60%;
}

#popper {
	position: relative;
	top: 0px;
	padding-top:  40%;
}

#fall {
	position: relative;
	top: 0px;
	padding-top: 10%;
}

#bloomfin {
	position: relative;
	top: 0px;
	padding-top: 15%;
}

#spittle {
	position: relative;
	top: 0px;
	padding-top: 30%;
}

#mud {
	position: relative;
	top: 0px;
	padding-top: 90%;
}

#deep {
	position: relative;
	top: 0px;
	padding-top: 120%;
}

#dandy {
	position: relative;
	top: 0px;
	padding-top: 100%;
}

#black-cat {
	position: relative;
	top: 5px;
	padding-top: 130%;
}

#corn-cod {
	position: relative;
	top: 0px;
	padding-top: 120%;
}

#dappled-koi {
	position: relative;
	top: 0px;
	padding-top: 120%;
}

#golden-koi {
	position: relative;
	top: 0px;
	padding-top: 120%;
}

#ice-bream {
	position: relative;
	top: 0px;
	padding-top:  100%;
}

.small-space { 
	position: relative;
	top: 0%; 
	padding-top: 5px;
}

.medium-space { 
	position: relative;
	top: 0%; 
	padding-top: 20px;
}

.spacey {
	position:  relative;
	top: 0px; 
	padding-top: 50%;
}

@media screen and (max-width: 660px) {
	#runty-gup { 
	    position: relative;
	    top: 0px; 
	    padding-top: 25%;
	    & > img { width: 60px; }
    }

#needle-squirt {
	position: relative;
	top: 5px;
	padding-top: 25%;
	& > img { width: 60px; }
}

#bitty-bait {
	position: relative;
	top: 10px;
	padding-top: 20%;
	& > img { width: 60px; }
}

#smolt {
	position: relative;
	top: 0px;
	padding-top: 60%;
}

#popper {
	position: relative;
	top: 0px;
	padding-top: 50%;
	& > img { width: 75px; }
}

#fall {
	position: relative;
	top: 0px;
	padding-top: 30%;
	& > img { width: 70px; }
}

#bloomfin {
	position: relative;
	top: 0px;
	padding-top: 30%;
	& > img { width: 65px; }
}

#scorching-sun {
	position: relative;
	top: 0px;
	& > img { width: 58px; }
}

#spittle {
	position: relative;
	top: 0px;
	padding-top: 50%;
	& > img { width: 60px; }
}

#mud {
	position: relative;
	top: 0px;
	padding-top: 100%;
	& > img { width: 65px; }
}

#deep {
	position: relative;
	top: 0px;
	padding-top: 100%;
}

#dandy {
	position: relative;
	top: 0px;
	padding-top: 90%;
}

#black-cat {
	position: relative;
	top: 5px;
	padding-top: 110%;
}
/*
#food {
	    & > ul > li > img { width: 50px; }
    }
*/
}

@media screen and (max-width: 600px) and (orientation: landscape) {
	#runty-gup { 
	    position: relative;
	    top: 10px; 
	    padding-top: 10%;
    }

#needle-squirt {
	position: relative;
	top: 10px;
	padding-top:  15%;
}

#bitty-bait {
	position: relative;
	top: 10%;
	padding-top:  30%;
}

#smolt {
	position: relative;
	top: 0px;
	padding-top: 60%;
}

#popper {
	position: relative;
	top: 0px;
	padding-top: 80%;
}

#fall {
	position: relative;
	top: 0px;
	padding-top: 50%;
}

#bloomfin {
	position: relative;
	top: 0px;
	padding-top: 35%;
}

#spittle {
	position: relative;
	top: 0px;
	padding-top: 45%;
}

#mud {
	position: relative;
	top: 0px;
	padding-top: 95%;
}

#deep {
	position: relative;
	top: 0px;
	padding-top: 100%;
}

#dandy {
	position: relative;
	top: 0px;
	padding-top: 100%;
}

#black-cat {
	position: relative;
	top: 5px;
	padding-top: 110%;
}

/*
#food {
	    & > ul > li > img { width: 50px; }
    }
*/
}

@media screen and (max-width: 450px) {
	img.extra-small-space { 
		position:  relative;
		top: 8px;
		width: 65px; 
	}

	img.small-space { 
		top: 0%; 
		padding-top: 15px;
		width: 70px;
	}

	img.spacey {
	width: 70px; 
		margin-top: 0px; 
	}
}

@media screen and (max-width: 400px) {
	#runty-gup { 
	    position: relative;
	    top: 5px; 
	    padding-top: 0%;
    }

	#needle-squirt {
	    position: relative;
	    top: 5px;
	    padding-top: 10%;
    }

	#bitty-bait {
	    position: relative;
	    top: -10%;
	    padding-top: 30%;
	    & > img { width: 65px; }
    }

    #smolt {
	    position: relative;
	    top: 0px;
	    padding-top: 50%;
    }

    #popper {
	    position: relative;
	    top: 0px;
	    padding-top: 80%;
	    & > img { width: 70px; }
    }

    #fall {
	    position: relative;
	    top: 0px;
	    padding-top: 20%;
	    & > img { 
	    	width: 75px; 
	    }
    }

    #bloomfin {
	    position: relative;
	    top: 10px;
	    padding-top: 20%;
	    & > img { width: 65px; }
    }

    #scorching-sun {
    	position: relative;
    	top: 0px;
    	& > img { width: 60px; }
    }

    #spittle {
	    position: relative;
	    top: 0px;
	    padding-top: 45%;
	    & > img { width: 65px; }
    }

    #mud {
	    position: relative;
	    top: 0px;
	    padding-top: 80%;
    }

    #deep {
	    position: relative;
	    top: 0px;
	    padding-top: 110%;
    }

    #dandy {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #black-cat {
	    position: relative;
	    top: 0px;
	    padding-top: 120%;
    }

    #corn-cod {
	    position: relative;
	    top: 0px;
	    padding-top: 110%;
    }

    #dappled-koi {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #golden-koi {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #ice-bream {
	    position: relative;
	    top: 0px;
	    padding-top: 90%;
    }

	.extra-small-space { margin-top: 4px; }

	.small-space { 
		top: 0%; 
	}

	.spacey { 
		/*
		position:  relative;
	    top: 100%; 
	    padding-top: 0px; 
	    padding-bottom: -50px;
	    */
	}

	.medium-space { 
	    position: relative;
	    top: 95%; 
	    padding-top: 15px;
    }
}

@media screen and (max-width: 350px) {
	#runty-gup { 
	    position: relative;
	    top: 5px; 
	    padding-top: 15%;
    }

	#needle-squirt {
	    position: relative;
	    top: 5px;
	    padding-top: 25%;
    }

	#bitty-bait {
	    position: relative;
	    top: -10%;
	    padding-top: 30%;
    }

    #smolt {
	    position: relative;
	    top: 0px;
	    padding-top: 60%;
    }

    #popper {
	    position: relative;
	    top: 0px;
	    padding-top: 80%;
    }

    #fall {
	    position: relative;
	    top: 0px;
	    padding-top: 50%;
    }

    #bloomfin {
	    position: relative;
	    top: 0px;
	    padding-top: 30%;
    }

    #spittle {
	    position: relative;
	    top: 0px;
	    padding-top: 40%;
    }

    #mud {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #deep {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #dandy {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #black-cat {
	    position: relative;
	    top: 0px;
	    padding-top: 110%;
    }

    #corn-cod {
	    position: relative;
	    top: 0px;
	    padding-top: 110%;
    }

    #dappled-koi {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #golden-koi {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #ice-bream {
	    position: relative;
	    top: 0px;
	    padding-top: 90%;
    }
}

@media screen and (max-width: 350px) {
	#runty-gup { 
	    position: relative;
	    top: 5px; 
	    padding-top: 15%;
    }

	#needle-squirt {
	    position: relative;
	    top: 5px;
	    padding-top: 25%;
    }

	#bitty-bait {
	    position: relative;
	    top: -10%;
	    padding-top: 30%;
    }

    #smolt {
	    position: relative;
	    top: 0px;
	    padding-top: 60%;
    }

    #popper {
	    position: relative;
	    top: 0px;
	    padding-top: 80%;
    }

    #fall {
	    position: relative;
	    top: 0px;
	    padding-top: 50%;
    }

    #bloomfin {
	    position: relative;
	    top: 0px;
	    padding-top: 30%;
    }

    #spittle {
	    position: relative;
	    top: 0px;
	    padding-top: 40%;
    }

    #mud {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #deep {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #dandy {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #black-cat {
	    position: relative;
	    top: 0px;
	    padding-top: 110%;
    }

    #corn-cod {
	    position: relative;
	    top: 0px;
	    padding-top: 110%;
    }

    #dappled-koi {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #golden-koi {
	    position: relative;
	    top: 0px;
	    padding-top: 100%;
    }

    #ice-bream {
	    position: relative;
	    top: 0px;
	    padding-top: 90%;
    }
}

#selected-food {
	position: relative;
	top: -40%;
	left: -37px;
	& > ul > li > img {
		width: 55px;
	}
}

@media screen and (max-width: 450px) {
	#selected-food {
	    position: relative;
	    top: -44%;
	    left: -37px;
	    & > ul > li > img {
		    width: 45px;
	    }
    }
}

@media screen and (max-width: 400px) {
	#selected-food {
	    position: relative;
	    top: -44%;
	    left: -37px;
	    & > ul > li > img {
		    width: 55px;
	    }
    }
}

@media screen and (max-width: 400px) and (orientation: landscape) {
	#selected-food {
	position: relative;
	top: -40%;
	left: -37px;
	& > ul > li > img {
		width: 55px;
	}
}
}

@media screen and (max-width: 360px) {
	#selected-food {
	    position: relative;
	    top: -44%;
	    left: -37px;
	    & > ul > li > img {
		    width: 55px;
	    }
    }
}

@media screen and (max-width: 321px) {
	#selected-food {
	    position: relative;
	    top: -44%;
	    left: -37px;
	    & > ul > li > img {
		    width: 55px;
	    }
    }
}

.sticky-pos { 
	position: -moz-fixed;
  position: -webkit-fixed;
  position: -o-fixed;
  position: -ms-fixed;
  position: fixed;
	bottom: 0%;
	left: 21.0%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

@media screen and (max-width: 660px) {
    #food {

    }

    #testy {
		top: -180%;
	}
}
/*
@media screen and (max-width: 400px) {
    #food {
	    & > ul > li > img { width: 40px; }
    }

    #testy {
		top: -180%;
	}
}
*/

@media screen and (max-width: 650px) and (max-height: 335px) and (orientation: landscape) {
    #food {
	    & > ul > li > img { width: 50px; }
    }

    #testy {
		top: -180%;
	}
}

/*
@media screen and (max-width: 650px) and (max-height: 336px) and (orientation: landscape) {
    #food {
	    & > ul > li > img { width: 64px; }
    }

    #testy {
		top: -180%;
	}
}
*/
@media screen and (max-width: 450px) {
    #food {
	    & > ul > li > img { width: 50px; }
    }

    #testy {
		top: -180%;
	}
}

@media screen and (max-width: 350px) and (max-height: 280px) {
    #food {
	    & > ul > li > img { width: 40px; }
    }

    #testy {
		top: -180%;
	}
}

/*
@media screen and (max-width: 350px) {
    #food {
	    & > ul > li > img { width: 50px; }
    }

    #testy {
		top: -180%;
	}
}
*/
@media screen and (max-width: 325px) {
    #food {
	    & > ul > li > img { width: 54px; }
    }

    #testy {
		top: -180%;
	}
}

@media screen and (max-width: 325px) and (max-height: 270px) {
    #food {
	    & > ul > li > img { width: 43px; }
    }

    #testy {
		top: -180%;
	}
}

@media screen and (max-width: 281px) {
    #food {
	    & > ul > li > img { width: 50px; }
    }

    #testy {
		top: -180%;
	}
}

@media screen and (max-width: 280px) {
    #food {
	    & > ul > li > img { width: 40px; }
    }

    #testy {
		top: -180%;
	}
}

#container {
	/*box-shadow: 8px 10px 10px 2px;*/
	position: absolute;
	left: 13.5%;
	top: -30%;
	height: 100%;
	& > div.food-container-tray {
		z-index: 0;
	    border-top: 2px solid black;
	    border-left: 2px solid black;
	    border-right: 2px solid black;
	    &:nth-child(4) {
	    	border-bottom: 2px solid black;
	    };
	    background-color: $layout-color;
	    width: 65px;
	    height: 65px;
    }
}

#crockpot {
	& > button {
		cursor: pointer;
		background-color: tan;
		border: 1px solid black;
		text-align: center;
		padding: 10px 30px 10px 30px;
	}

}

@media screen and (max-width: 720px) {
#crockpot {
	font-size: 0.6rem;
	    & > img { 
		    width: 60px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 60px;
    		height: 60px;
    	}
    }
}

@media screen and (max-width: 1250px) and (max-height: 750px) and (orientation: landscape) {
#crockpot {
	font-size: 0.8rem;
	    & > img { 
		    width: 70px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 60px;
    		height: 60px;
    	}
    }

    button { 
	    	font-size: 1.1rem;
	    	font-weight: bold;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	  }
}

@media screen and (max-width: 423px) {
#crockpot {
	font-size: 0.6rem;
	    & > img { 
		    width: 70px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 60px;
    		height: 60px;
    	}
    }

    button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	  }
}

@media screen and (max-width: 735px) {
#crockpot {
	font-size: 0.8rem;
	    & > img { 
		    width: 60px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 60px;
    		height: 60px;
    	}
    }

    button { 
	    	font-size: 1.1rem;
	    	font-weight:  bold;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	  }
}
/*
@media screen and (max-width: 1200px) and (orientation: landscape) and (max-height: 415px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 980px) and (orientation: landscape) and (max-height: 480px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}


@media screen and (max-width: 970px) and (orientation: landscape) and (max-height: 415px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 870px) and (orientation: landscape) and (max-height: 415px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 870px) and (orientation: landscape) and (max-height: 367px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) and (max-height: 367px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 840px) and (orientation: landscape) and (max-height: 367px) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 820px) and (orientation: landscape) {
#crockpot {
	font-size: 0.5rem;
	    & > img { 
		    width: 70px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 750px) and (orientation: landscape) {
#crockpot {
	font-size: 0.6rem;
	    & > img { 
		    width: 60px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }
}

@media screen and (max-width: 660px) and (orientation: landscape) {
#crockpot {
	font-size: 0.6rem;
	    & > img { 
		    width: 60px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
#crockpot {
	font-size: 0.6rem;
	    & > img { 
		    width: 60px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 10px 20px 10px 20px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}


@media screen and (max-width: 400px) and (orientation: landscape) {
#crockpot {
	font-size: 0.6rem;
	    & > img { 
		    width: 40px; 
	    }

	    & > button { 
	    	font-size: 0.6rem;
	    	text-align: center;
	    	padding: 5px 10px 5px 10px; 
	    }
	
    }

    #container {
    	& > div.food-container-tray {
    		width: 40px;
    		height: 40px;
    	}
    }
}
*/
@media screen and (max-width: 350px) {
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}

#y-scroll { 
	width: 100%;
	height: 500px;
	margin-top: -220px;
}

@media screen and (max-width: 1485px) and (max-height: 655px) and (orientation: landscape) {
	#y-scroll { 
		/*
	  overflow-y: scroll; 
	  width: 100%;
	  height: 140px;
	  
	  -webkit-margin-before: 60px;
	  */
	  margin-top: -252px;
  }
}

@media screen and (max-width: 1485px) and (max-height: 555px) and (orientation: landscape) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 140px;
	  margin-top: -35px;
	  -webkit-margin-before: -35px;
  }
}

@media screen and (max-width: 1065px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 350px;
	    margin-top: -245px;
	    -webkit-margin-before: -200px;
    }
}

@media screen and (max-width: 1065px) and (max-height: 1450px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 350px;
	    margin-top: -181px;
	    -webkit-margin-before: -182px;
    }
}

@media screen and (max-width: 1065px) and (max-height: 750px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 350px;
	    margin-top: -232px;
	    -webkit-margin-before: -232px;
    }
}

@media screen and (max-width: 1065px) and (max-height: 615px) and (orientation: landscape) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 140px;
	  margin-top: 10px;
	  -webkit-margin-before: 60px;
  }
}

@media screen and (max-width: 1065px) and (max-height: 615px) and (orientation: landscape) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 140px;
	  margin-top: -22px;
	  -webkit-margin-before: -22px;
  }
}

@media screen and (max-width: 1065px) and (max-height: 450px) and (orientation: landscape) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 97px;
	  margin-top: 22px;
	  -webkit-margin-before: 21px;
  }
}

@media screen and (max-width: 735px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 227px;
	    margin-top: 40px;
	    -webkit-margin-before: 41px;
    }
}

@media screen and (max-width: 735px) and (max-height: 415px) and (orientation: landscape) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 117px;
	  margin-top: 151px;
	  -webkit-margin-before: 151px;
  }
}

@media screen and (max-width: 735px) and (max-height: 270px) and (orientation: landscape) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 95px;
	  margin-top: 173px;
	  -webkit-margin-before: 173px;
  }
}

@media screen and (max-width: 660px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 219px;
	    margin-top: 66px;
	    -webkit-margin-before: 64px;
    }
}

@media screen and (max-width: 660px) and (max-height: 615px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 153px;
	    margin-top: 134px;
	    -webkit-margin-before: 131px;
    }
}

@media screen and (max-width: 660px) and (max-height: 335px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 103px;
	    margin-top: 185px;
	    -webkit-margin-before: 181px;
    }
}

@media screen and (max-width: 450px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 165px;
	    margin-top: 68px;
	    -webkit-margin-before: 64px;
    }
}

@media screen and (max-width: 450px) and (max-height: 335px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 93px;
	    margin-top: 140px;
	    -webkit-margin-before: 136px;
    }
}

/*
@media screen and (max-width: 635px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 594px;
	    margin-top: -230px;
    }
}
*/
/*
@media screen and (max-width: 545px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 494px;
	    margin-top: -132px;
    }
}
*/
/*
@media screen and (max-width: 535px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 494px;
	    margin-top: -132px;
    }
}
*/
/*
@media screen and (max-width: 450px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 450px;
	    margin-top: -37px;
    }
}
*/
/*
@media screen and (max-width: 430px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 350px;
	    margin-top: 36px;
	    -webkit-margin-before: 34px;
    }
}
*/

@media screen and (max-width: 423px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 299px;
	    margin-top: -66px;
	    -webkit-margin-before: -70px;
    }
}

@media screen and (max-width: 423px) and (max-height: 485px)  {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 178px;
	    margin-top: 55px;
	    -webkit-margin-before: 51px;
    }
}

@media screen and (max-width: 423px) and (max-height: 375px)  {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 122px;
	    margin-top: 111px;
	    -webkit-margin-before: 107px;
    }
}

@media screen and (max-width: 423px) and (max-height: 335px)  {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 122px;
	    margin-top: 111px;
	    -webkit-margin-before: 107px;
    }
}

@media screen and (max-width: 423px) and (max-height: 325px)  {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 122px;
	    margin-top: 111px;
	    -webkit-margin-before: 107px;
    }
}

@media screen and (max-width: 423px) and (max-height: 265px)  {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 95px;
	    margin-top: 138px;
	    -webkit-margin-before: 134px;
    }
}

@media screen and (max-width: 321px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 205px;
	    margin-top: 28px;
	    -webkit-margin-before: 24px;
    }
}

@media screen and (max-width: 321px) and (max-height: 400px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 90px;
	    margin-top: 143px;
	    -webkit-margin-before: 139px;
    }
}

@media screen and (max-width: 321px) and (max-height: 280px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 90px;
	    margin-top: 143px;
	    -webkit-margin-before: 139px;
    }
}

/*
@media screen and (max-width: 420px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 350px;
	    margin-top: 91px;
    }
}
*/
/*
@media screen and (max-width: 415px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 295px;
	    margin-top: 145px;
	    -webkit-margin-before: -74px;
    }
}
*/
/*
@media screen and (max-width: 540px) and (max-height: 825px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 427px;
	    margin-top: -42px;
    }
}
*/
/*
@media screen and (max-width: 535px) and (max-height: 725px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 427px;
	    margin-top: -42px;
    }
}
*/

/*
@media screen and (max-width: 415px) and (max-height: 850px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 435px;
	    margin-top: -21px;
	    -webkit-margin-before: -74px;
    }
}
*/
/*
@media screen and (max-width: 415px) and (max-height: 750px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 435px;
	    margin-top: -21px;
	    -webkit-margin-before: -74px;
    }
}
*/
/*
@media screen and (max-width: 400px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 450px;
	    margin-top: -172px;
	    -webkit-margin-before: -176px;
    }
}
*/
/*
@media screen and (max-width: 370px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 380px;
	    margin-top: -106px;
    }
}
*/
/*
@media screen and (max-width: 350px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 200px;
	    margin-top: 144px;
    }
}
*/
@media screen and (max-width: 300px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 140px;
	    margin-top: 93px;
	    -webkit-margin-before: 88px;
    }
}

@media screen and (max-width: 300px) and (max-height: 300px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 76px;
	    margin-top: 157px;
	    -webkit-margin-before: 152px;
    }
}

/*
@media screen and (max-width: 300px) and (max-height: 280px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 76px;
	    margin-top: 107px;
	    -webkit-margin-before: 104px;
    }
}
*/
/*
@media screen and (max-height: 480px) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 140px;
	  margin-top: 10px;
	  -webkit-margin-before: 60px;
  }
}
*/
/*
@media screen and (max-width: 340px) and (max-height: 780px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 399px;
	    margin-top: 63px;
	    -webkit-margin-before: -125px;
    }
}
*/
/*
@media screen and (max-width: 900px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 170px;
	    margin-top: -70px;
    }
}
*/
/*
@media screen and (max-width: 870px) and (orientation: landscape) and (max-height: 309px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 120px;
	    margin-top: -17px;
    }
}
*/

/*
@media screen and (max-width: 850px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 180px;
	    margin-top: -79px;
    }
}
*/
/*
@media screen and (max-width: 840px) and (orientation: landscape) and (max-height: 367px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 170px;
	    margin-top: -68px;
    }
}
*/
/*
@media screen and (max-width: 820px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 200px;
	    margin-top: -100px;
    }
}
*/
/*
@media screen and (max-width: 800px) and (orientation: landscape) and (max-height: 330px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 170px;
	    margin-top: -68px;
    }
}
*/
/*
@media screen and (max-width: 750px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 250px;
	    margin-top: -16px;
    }
}
*/
/*
@media screen and (max-width: 740px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 160px;
	    margin-top: -65px;
    }
}
*/
/*
@media screen and (max-width: 735px) {
	#y-scroll { 
	  overflow-y: scroll; 
	  width: 100%;
	  height: 200px;
	  margin-top: 33px;
  }
}
*/
/*
@media screen and (max-width: 680px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 220px;
	    margin-top: 145px;
    }
}
*/
/*
@media screen and (max-width: 660px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 244px;
	    margin-top: 143px;
    }
}
*/
/*
@media screen and (max-width: 660px) and (orientation: landscape) and (max-height: 320px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 116px;
	    margin-top: 116px;
    }
}
*/
/*
@media screen and (max-width: 660px) and (orientation: landscape) and (max-height: 280px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 92px;
	    margin-top: 156px;
    }
}
*/
/*
@media screen and (max-width: 635px) and (orientation: landscape) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 260px;
	    margin-top: 127px;
    }
}
*/
/*
@media screen and (max-height: 440px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 103px;
    }
}
*/
/*
@media screen and (max-width: 296px) and (max-height: 295px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 100px;
	    -webkit-margin-before: 100px;
    }
}
*/
@media screen and (max-width: 296px) and (max-height: 295px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 116px;
	    margin-top: 117px;
	    -webkit-margin-before: 113px;
    }
}

@media screen and (max-width: 296px) and (max-height: 280px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 132px;
	    -webkit-margin-before: 129px;
    }
}

@media screen and (max-width: 296px) and (max-height: 270px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 133px;
	    -webkit-margin-before: 129px;
    }
}

@media screen and (max-width: 280px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 103px;
	    -webkit-margin-before: 100px;
    }
}

@media screen and (max-width: 280px) and (max-height: 296px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 100px;
	    -webkit-margin-before: 100px;
    }
}

@media screen and (max-width: 280px) and (max-height: 280px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 103px;
	    -webkit-margin-before: 100px;
    }
}

@media screen and (max-width: 211px) {
	#y-scroll { 
	    overflow-y: scroll; 
	    width: 100%;
	    height: 100px;
	    margin-top: 131px;
	    -webkit-margin-before: 100px;
    }
}

@media screen and (max-width: 650px) and (max-height: 335px) and (orientation: landscape) {
	#crockpot {
	    font-size: 0.8rem;
	    & > img { 
		    width: 60px; 
	    }

	    & > button { 
	    	font-size: 1.1rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 10px 20px 10px 20px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}

/*
@media screen and (max-width: 750px) and (max-height: 335px) and (orientation: landscape) {
	#crockpot {
	    font-size: 0.6rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 5px 10px 5px 10px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}
*/
@media screen and (max-width: 450px) {
#crockpot {
	    font-size: 0.6rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 10px 20px 10px 20px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}

@media screen and (max-width: 450px) and (max-height: 335px) and (orientation: landscape) {
	#crockpot {
	    font-size: 0.6rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 10px 20px 10px 20px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}

/*
@media screen and (max-width: 450px) and (max-height: 335px) and (orientation: landscape) {
	#crockpot {
	    font-size: 0.5rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 5px 10px 5px 10px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}
*/
@media screen and (max-width: 340px) and (max-height: 280px) and (orientation: landscape) {
#crockpot {
	    font-size: 0.6rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 10px 20px 10px 20px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 40px;
    		height: 40px;
    	}
    }
}

@media screen and (max-width: 300px) and (max-height: 300px) and (orientation: landscape) {
	#crockpot {
	    font-size: 0.6rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 10px 20px 10px 20px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 50px;
    		height: 50px;
    	}
    }
}

@media screen and (max-width: 280px) {
#crockpot {
	    font-size: 0.5rem;
	    & > img { 
		    width: 50px; 
	    }

	    & > button { 
	    	font-size: 0.7rem;
	    	text-align: center;
	    	background-color: tan;
	    	border: 1px solid black;
	    	padding: 5px 10px 5px 10px;
	    }
    }
    #container {
    	& > div.food-container-tray {
    		width: 40px;
    		height: 40px;
    	}
    }
}

#crockpot-result {
	box-shadow: 20px 10px 15px 2px;
}

@media screen and (max-width: 300px) {
	#crockpot-result {
	    box-shadow: 5px 5px 15px 2px;
    }
}

.cursor-on-off {
	cursor: pointer;
	&:hover {
        transition: 0.5s;
		width: 170px;
	}

	&:not(hover) {
		transition: 0.5s;
		width: 120px;
	}
}

#cond1 { 
	width: 250px; 
}

#cond2 { width: 90px; }

img.dlc-img-size { 
	display: inline;
	margin: 0 auto;
	width: 120px;
}

@media screen and (max-width: 600px) {
	img.dlc-img-size { 
	    display: block;
	    margin: 0 auto;
	    width: 120px;
    }

    .cursor-on-off {
	    cursor: pointer;
	    &:hover {
            transition: 0.5s;
		    width: 170px;
	    }

	    &:not(hover) {
		    transition: 0.5s;
		    width: 120px;
	    }
    }

    #cond1 { width: 250px; }

    #cond2 { width: 90px; }
}

@media screen and (max-width: 400px) {
	img.dlc-img-size { 
	    display: block;
	    margin: 0 auto;
	    width: 120px;
    }

    .cursor-on-off {
	    cursor: pointer;
	    &:hover {
            transition: 0.5s;
		    width: 120px;
	    }

	    &:not(hover) {
		    transition: 0.5s;
		    width: 70px;
	    }
    }

    #cond1 { width: 120px; }

    #cond2 { width: 90px; }
}